.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: transparent; /* Trong suốt */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.brand-name {
  font-size: 24px;
  font-weight: 900;
  color: #7029FF;
  letter-spacing: -1px;
}

.navbar-center {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
}

.navbar-center a {
  text-decoration: none;
  color: #667085;
  font-weight: 600;
  font-size: 15px;
}

.navbar-center a.active {
  color: #7029FF;
  border-bottom: 2px solid #7029FF;
  padding-bottom: 5px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link-signin {
  text-decoration: none;
  color: #7029FF;
  font-weight: 700;
}

.btn-signup {
  text-decoration: none;
  background: linear-gradient(90deg, #8E54FF 0%, #7029FF 100%);
  color: white;
  padding: 10px 25px;
  border-radius: 12px;
  font-weight: 700;
  box-shadow: 0 4px 12px rgba(112, 41, 255, 0.2);
}