:host {
  display: block;
  height: calc(100vh - 70px);
  background-color: #fff;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.welcome-text {
  font-size: 32px;
  margin-bottom: 0px;
  font-weight: 500;
}

.brand-title {
  font-family: 'Irish Grover', system-ui; 
  font-size: 110px;
  margin-bottom: 40px;
  line-height: 1;
}

.join-container {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pin-input {
  width: 100%;
  padding: 22px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #e0e0e0;
  border-radius: 25px;
  background-color: #f9f9f9;
  color: #c0c0c0;
  box-sizing: border-box;
}

.join-button {
  width: 100%;
  padding: 18px;
  font-size: 24px;
  font-weight: bold;
  background-color: #6a41bd;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  box-sizing: border-box;
  transition: 0.3s;
}

.join-button:hover {
  background-color: #532f9d;
}

.home-footer {
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  color: #666;
}